.canteen-body-header{
    padding-top: 60px;
}
.canteenacard{
    width: 200px;
    height: 300px;
    border: 1px solid;
    border-radius: 20px;
    background-color: #F2F1F1;
    color: #707070;
    margin-right: 50px;

}
.main-canteen-card-img{
    width: inherit;
    height: 250px;
}
.canteencard-img{
    width: inherit;
    height: 180px;
}
.canteena-card-title{
    text-align: center;
    font-weight: 600;
    padding-top: 80px;
}