@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.login-body{
    width: 100vw;
    height: 100vh;
    background: url(../../public/images/background9.png) no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}
.content-box-login{
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    padding-left: 450px;
}
.form-img-login{
    width: 500px;
}
.form-box-login{
    border: 1px solid;
    width: 400px;
    height: 500px;
    margin-top: 60px;
    background-color: white;
    border-radius: 10px;
    border: none;
}
.form-nav{
    display: flex;
    padding-left: 50px;
}
.arrow-icon{
    padding-top: 60px;
}
.arrow{
    transform: scale(1.4);
    color: #707070;
}
.winkeat-logo-form{
    position: relative;
    bottom: 5px;
    width: 160px;
    padding-left: 60px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.input-form-login input{
    width: 320px;
    height: 40px;
    border-color: #DADADA;
    border: .2px solid;
    border-radius: 6px;
    font-size: 15px;
    padding-left: 10px;
    color: #A8A8A8;
    background-color: #F3F3F3;
}
input:focus{
    outline: none;
}
.input-form-login{
    width: 380px;
    padding-left: 30px;
    padding-bottom: 20px;
}
.submit-btn-login{
    width: 320px;
    height: 40px;
    border-radius: 6px;
    text-align: center;
    border: #DADADA;
    background-color: #C0DFFD;
    margin-left: 33px;
    color: #A8A8A8;
    font-size: 18px;
    cursor: pointer;
}
.form-footer{
    padding-top: 40px;
    text-align: center;
}
.footer-top span{
    text-decoration: none;
    font-weight: 500;
}


.footer-bottom{
    padding-top: 40px;
    font-weight: 500;
}


@media screen and (max-width: 1200px) {
    .content-box-login{
        display: flex;
        justify-content: space-evenly;
        width: 1000px;
        padding-left: 80px;
    }
    
}
@media screen and (max-width: 1000px) {
    .content-box-login{
        display: flex;
        justify-content: space-evenly;
        width: 1000px;
        padding-left: 10px;
    }
    
}

@media screen and (max-width: 430px) {
    .login-body{
        background: none;
    }
    .content-box-login{
        display: flex;
        justify-content: space-evenly;
        width: 380px;
        /* padding-left: 10px; */
    }
    .form-img-login{
        display: none;
    }
    .form-box-login{
        border: 1px solid;
        width: 400px;
        height: 500px;
        margin-top: 60px;
        background-color: white;
        border-radius: 10px;
        border: none;
    }
    .form-nav{
        display: flex;
        padding-left: 50px;
    }
    .arrow-icon{
        display: none;
    }
    .winkeat-logo-form{
        position: relative;
        bottom: 5px;
        width: 120px;
        margin-left: 30px;
        margin-bottom: 40px;
    }
    .input-form-login input{
        width: 340px;
        height: 50px;
        border-color: #DADADA;
        border: .2px solid;
        border-radius: 8px;
        font-size: 18px;
        padding-left: 10px;
        color: #A8A8A8;
        background-color: #F3F3F3;
    }
    input:focus{
        outline: none;
    }
    .input-form-login{
        padding-left: 18px;
        margin-bottom: 20px;
    }
    .submit-btn-login{
        width: 355px;
        height: 50px;
        border-radius: 6px;
        text-align: center;
        border: #DADADA;
        background-color: #C0DFFD;
        margin-left: 16px;
        color: #A8A8A8;
        font-size: 20px;
        margin-bottom: 80px;
    }
    .form-footer{
        color: #A8A8A8;
        padding-top: 40px;
        text-align: center;
    }
    .footer-top span{
        text-decoration: none;
    }
    
    
    .footer-bottom{
        margin-top: 40px;
    }
    
}