.Pizzabox{
    padding-top: 25px;
    padding-right: 5px;
}
.foodbox{
    height: 160px;
    width: 600px;
    border-radius: 22px;
    border: 1px solid;
    color: grey;
    display: flex;
}
.foodimg img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 158px;
    width: 250px;
}
.food-info{
    justify-content: space-between;
}
.food-info h3{
    text-align: center;
    padding-top: 8px;
    font-size: 25px;
    font-weight: 600;
    color: black;
}
.food-info h4{
    padding-left: 15px;
    padding-top: 3px;
    color: black;
}
.food-info p{
    padding-left: 15px;
    padding-top: 3px;
    font-size: 12px;
}
.food-info button{
    margin-left: 60px;
    width: 240px;
    height: 35px;
    background: #FFB800;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.food-info button:hover{
    background: white;
    color: #FFB800;
    border-radius: 20px;
    border: .2px solid;
    border-color: black;
    font-size: 18px;
    cursor: pointer;
    transition: 5ms ease-out;
}